.northern{
    margin: auto;
    max-width: 66%;
    min-height: auto;
    display: flex;
    align-items: center;
}

.northern>img{
    border-style: solid;
    border-color: black;
    display: block;
    margin: 5px;
    width: 400px;
    height: 300px;
}


subject.one{
    font-size: x-large;
    border-style: solid;
    text-align: center;
    align-items: center;
    min-width: 400px;
    min-height: 300px;
    max-width: 500px;
    max-height: 300px;
    margin: 5px;
    background-color: #efefef;}
    
.info{
    margin: auto;
    max-width: 66%;
}